.documents_page-wrapper{
    background: var(--page-bg);
    min-height: 100vh;
    padding: 20px 45px 28px 45px;
}
.docs-title{
  color: var(--primary-text, #111827);

  font-family: Circe;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}