
/* src/Dropdown.css */
.dropdown-container {
  width: 1000px;
  display: flex;
  flex-direction: column;
}

.MuiAccordion-root {
  margin-bottom: 10px;
}

.MuiAccordionSummary-root {
  background-color: #f5f5f5;
}

.MuiAccordionDetails-root {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}



.comStr_title{
  color: var(--primary-text, #111827);
  font-size: 20px;
  font-weight: 700;
}
.comStr_head{
  color: var(--primary-text, #111827);
  font-size: 11px;
  font-weight: 400;
  display: block;
}

.accordion_comp>div{
  display: flex;
  justify-content: space-between !important;
  align-items: center;
}
.accordion_comp_nowr{
  display: flex;
  justify-content: space-between !important;
  align-items: center;
}

.MuiPaper-root {
  box-shadow:none !important;

}

.MuiPaper-root::before{
  height: 0 !important;
}


.MuiAccordionSummary-root,.MuiCollapse-wrapper {
  border: 1px solid #1118 !important;


}
[aria-expanded="true"]{
  background: rgba(234, 234, 234, 0.50) !important;
}
.company_dropdown{

  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
}
.company_dropdown>div{
  width: 400px;

}


.comp_card-title{
  font-size: 22px !important;
  font-weight: 700 !important;
}
