.base-TabsList-root {
  /* display: flex; */
  /* gap: 10px; */
  display: inline;
}

.base-Tab-root {
  /* width: 300px;   */
  background: #fafafa;
  border: 0;
  padding: 8px 15px;
  border-bottom: 1px solid #a6a6a6;
  font-size: 16px;
  font-weight: 700;
  color: var(--secondary-text) !important;
  cursor: pointer;
}

.base-Tab-root:nth-child(1) {
  border-radius: 5px 0px 0px 0px;
}
.base-Tab-root:last-child {
  border-radius: 0px 5px 0px 0px;
}
.docs_tabs-wrapper {
  background-color: #fff;
  min-height: 100vh;
  box-shadow: 0px -2px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 25px 30px;
  border-radius: 0 5px 5px 5px;
}
.base--selected {
  border-bottom: 2px solid #4348cd;
  box-shadow: 0px -3px 5px 0px rgba(0, 0, 0, 0.25);
}

.doc_tab-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}
.doc_info {
  display: flex;
  gap: 20px;
  color: var(--primary-text, #111827);
  font-size: 16px;
  font-weight: 400;
}


.doc_actions {
  display: flex;
  gap: 20px;
}

.doc_download-icon {
  color: var(--primary-text);
  font-size: 30px !important;
  cursor: pointer;
}
.doc_download-icon:hover {
  color: #030a18;
}

.doc_del-icon {
  color: var(--main-red);
  font-size: 30px !important;
  cursor: pointer;
}
.doc_del-icon:hover {
  color: #cd090f;
}

.docs_inp-wrapper {
  display: flex;
  gap: 20px;
}

.file_select_inp {
  background-color: var(--blue-btn);
  color: #fff;
  font-family: "Circe";
  color: white;
  border: none;
  padding: 10px 40px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.file_picker-div {
  width: 150px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.file-input {
  display: none;
}

/* Style the label as a custom button or text */
.file-label {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.file-label:hover {
  background-color: #0056b3;
}

.file-name {
  margin-left: 10px;
}