@font-face {
  font-family: 'Circe';
  src: url('./fonts/CRC25.otf') format('otf'),
       url('./fonts/CRC35.otf') format('otf'),
       url('./fonts/CRC55.otf') format('otf'),
       url('./fonts/CRC65.otf') format('otf');
  /* Add additional font formats if necessary */
  /* Specify the correct path to the font files */
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100%;
  font-family: 'Circe', sans-serif;
  margin: 0;
}

ul{
  list-style: none ;
}
:root{
  --primary-text: #111827;
  --secondary-text: #687588;
  --main-red:#E31E24;
  --blue-btn:#0075FF;
  --green-btn:#006115;
  -stroke: #E0DDDD;
  --page-bg: #F4F3F3;
  --white-txt:#fff;
}